# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.a
*.o

# Build output
bin/
cmd/sms-gateway/sms-gateway

# Go workspace files
go.work
go.work.sum

# Coverage and test artifacts
coverage.out
*.coverprofile
 *.prof, *.pprof, *.trace, *.cov

# Dependency directories
vendor/

# IDE / editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env

data/
*.cs

# Secure files
**/firebase.json
